html {
  font: 18px sans-serif;
  color: black;
}

a {
  color: black;
  font-weight: bold;
}
a:focus {
  outline-style: solid;
  outline-color: #a80000;
  outline-width: 3px;
}

p,
li {
  line-height: 1.8;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  background: none;
}
video {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -180px;
  transform: scale3d(1.1, 1.1, 1);
}

.clips {
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.clip {
  width: 200px;
  height: 228px;
  padding-top: 24px;
  box-sizing: border-box;
  border: 2px solid #222;
  position: relative;
}
.item-details {
  width: 100%;
  max-height: 24px;
  line-height: 24px;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 2px solid #222;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: #ddd;
  transition: max-height 0.5s ease-in-out;
  cursor: pointer;
  font-size: 0.9rem;
}
.item-details:hover {
  background: white;
}
.title {
  white-space: nowrap;
  text-indent: 4px;
}
.links {
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  display: flex;
  align-items: stretch;
  gap: 10px;
  background: #ddd;
  border-top: 2px solid #222;
}
.links a {
  flex-grow: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none; 
  text-align: center;
}
.links a:hover {
  background: white;
}
.links a img {
  height: 16px;
  width: auto;
  display: inline-block;
}
.item-details:focus {
  max-height: 228px;
  overflow: auto;
}
.item-details:focus .title {
  white-space: normal;
}
.item-play {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-color: #dec562;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}
.item-play:hover {
  opacity: 1;
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
